<%= content_tag_for(:article, collection) do %>
  <header>
    <h1><%= collection.subject %></h1>
  </header>

  <p>
    <%= collection.description %>
  </p>

  <footer>
    <%= render 'collections/follow_form', collection: collection %>
    <%= link_to 'Show', collection_path(collection) %>
    <%= link_to 'Edit', edit_collection_path(collection) %>
    <%= link_to 'Destroy', collection_path(collection), method: :delete, data: { confirm: 'Are you sure?' } %>
  </footer>
<% end %>
