<p id="notice"><%= notice %></p>

<%= render @collection %>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>

<hr>

<%= render 'follow_form', collection: @collection %>

<hr>

<h3>Followers</h3>

<ol>
  <%= render partial: 'users/user_listing', collection: @collection.followers, as: :user %>
</ol>

<hr>

<%= render partial: 'contents/content_listing', collection: @collection.contents, as: :content %>
