<h1>Listing contents</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= content.title %></td>
    <td><%= content.body %></td>
    <td><%= content.source %></td>
    <td><%= link_to 'Show', collection_content_path(@collection, content) %></td>
    <td><%= link_to 'Edit', edit_collection_content_path(@collection, content) %></td>
    <td><%= link_to 'Destroy', collection_content_path(@collection, content), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content', new_collection_content_path(@collection) %>
