<%= content_tag_for(:article, source) do %>
  <header>
    <h2><%= source.location %></h2>
  </header>

  <p>
    <%= link_to source.location, source.location %>
  </p>

  <footer>
    <%= link_to 'Edit', edit_source_path(source) %>
    <%= link_to 'Destroy', source_path(source), method: :delete, data: { confirm: 'Are you sure?' } %>
  </footer>
<% end %>
