<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, :placeholder => 'Email address', :autofocus => true %>
  <div class="email-suggestion"></div>

  <%= f.input :username, :placeholder => 'Username' %>

  <% if f.object.password_required? %>
    <%= f.input :password, :placeholder => 'Password' %>
    <%= f.input :password_confirmation, :placeholder => 'Password confirmation' %>
  <% end %>

  <%= f.button :submit, "Sign up", :class => 'btn btn-primary btn-block' %>
<% end %>

<%= render "devise/shared/links" %>
