<% if current_user && current_user.id  == @user.id %>
  <ul class="nav nav-pills">
    <li>
      <%= link_to 'Account', edit_registration_path(@user) %>
    </li>
    <li>
      <%= link_to Profile.model_name.human, settings_profile_path %>
    </li>
  </ul>

  <hr>
<% end %>

<div class="row">
  <div class="col col-lg-8">

    <%= image_tag @user.avatar, :class => 'img-circle' %>

    <h1><%= @user.flexible_name %></h1>

    <h2>Following <%= @user.followed_collections.count %> collections:</h2>

    <ol class="list-unstyled">
      <% @user.followed_collections.each do |collection| %>
      <li>
        <strong><%= link_to collection.subject, collection_path(collection) %>: </strong><%= collection.description %>
      </li>
      <% end %>
    </ol>

  </div>
</div><!-- /.row -->
